#audio-player {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 20px;

  .toggle {
    font-family: sans-serif !important;
    width: 40px;
    height: 40px;

    border: 0;
background:transparent;
font-size: 2em;
    &.play:before {
      content: '';
      background: url('images/pause.svg');
      background-size: cover;
      height: 40px;
      width: 40px;
      display: block;
    }
    &.pause:before {
      content: '';
      background: url('images/play.svg');
      background-size: cover;
      height: 40px;
      width: 40px;
      display: block;
    }

  }
}
